{% extends 'base.html' %}

{% block content %}
<br>
<h2>Login</h2>
<br>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}