{% extends 'base.html' %}

{% block content %}
<br>  
<h1>Cadastro</h1>
<br>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
        
{% endblock %}