{% extends 'base.html' %}
{% load static %}
{% block content %}

  <h1>Controle de gastos</h1>

  <p> A plataforma foi desenvolvida para auxiliar os usuários com suas finanças.</p>
  <p>Funcionalidades:</p>
  <ul>
    <li>Categorias: O usuário pode criar categorias e ver uma lista com as categorias existentes.</li>
    <ul>
      <li>A página de cada categoria informa todas as transações pertencentes a mesma</li>
    </ul>
    <br>
    <li>Transações: Uma lista detalhada com todas as transações (despesas e rendas) feitas pelo usuário.</li>
    <br>
    <li>Perfil: Informações sobre o usuário</li>
    <br>
    <li>Relatórios: Informações e gráfico sobre os gastos do usuário</li>
    
  </ul>

  {% if user.is_authenticated %}
  <div class="btn btn-success">
      Saldo: R${{ balance }}
  </div>
  {% endif %}
{% endblock %}
