{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<h1>Relatórios</h1>
<br>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Maior renda</h5>
                    <p class="card-text">Valor: R${{ maxIncome.value }}</p>
                    <p class="card-text">Descrição: {{ maxIncome.description }}</p>
                    <p class="card-text">Data: {{ maxIncome.date|date:'d/m/y' }}</p>
                    <p class="card-text">Categoria: {{ maxIncome.category.name }}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Maior despesa</h5>
                    <p class="card-text">Valor: R${{ maxSpend.value }}</p>
                    <p class="card-text">Descrição: {{ maxSpend.description }}</p>
                    <p class="card-text">Data: {{ maxSpend.date|date:'d/m/y' }}</p>
                    <p class="card-text">Categoria: {{ maxSpend.category.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="my_chart">
        <h5>Gráfico de gastos por categoria</h5>
        <canvas class="my_chart" id="categoryChart" width="300" height="300"></canvas>
    </div>




  

{% block scripts %}
<script>
var ctx = document.getElementById("categoryChart");
var names = JSON.parse('{{ names|safe }}');
var values = JSON.parse('{{ values|safe }}');
var productsChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: names,
        datasets: [{
            label: 'Categorias',
            data: values,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}
{% endblock %}
