{% extends 'base.html' %}

{% block content %}
{% load static %}

<br>
<h1>{{ title }} categoria</h1>
<br>
<form method="post">
{% csrf_token %}
    <label>Nome:</label>
    {{ form.name }}
    <br>
    
    <div class="text-center">
        <button class="btn btn-success"  type="submit" >Salvar</button>
    </div>
</form>

{% endblock %}
