{% extends 'base.html' %}


{% block content %}



<br>
<h1>Categorias</h1>
<br>
<table class="my-table table">
<thead class="thead-light">
<tr>
<th>Nome</th>
<th>Balanço</th>
<th></th>
<th></th>
<th></th>

</tr>
</thead>
<tbody>
{% for category in object_list %}
<tr>
<td>{{ category.name }}</td>
<td>R$ {{ category.overallSpend }}</td>

<td><a  href="{% url 'category_detail'  category.id  %}">detalhes</a></td>
<td><a  href="{% url 'category_update'  category.id  %}">editar</a></td>
<td><a  href="{% url 'category_delete'  category.id  %}">deletar</a></td>

</tr>

{% endfor %}
</tbody>
</table>

<div class="text-center">
    <a  class="btn btn-primary" href="{% url 'category_create' %}">Criar categoria</a>
</div>

{% endblock %}