{% extends 'base.html' %}

{% block content %}
{% load static %}

<br>
<h1>Atualizar Perfil</h1>
<br>
<form  method="post">
{% csrf_token %}
{{ form.as_p }}

<div class="text-center">
    <button class="btn btn-success"  type="submit" >Salvar</button>
</div>
</form>
{% endblock %}