{% extends 'base.html' %}

{% block content %}
{% load static %}

<br>
<h1>{{ title }}</h1>
<br>
<table class="my-table table">
<thead class="thead-light">
<tr>
<th>Valor: </th>
<th>Categoria: </th>
<th>Descrição</th>
<th>Data:</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for transaction in object_list %}
<tr>
<td>R$ {{ transaction.value }}</td>
<td>{{ transaction.category.name }}</td>
<td>{{ transaction.description }}</td>
<td>{{ transaction.date|date:'d/m/y' }}</td>

<td><a  href="{% url 'transaction_detail'  transaction.id  %}">detalhes</a></td>
<td><a  href="{% url 'transaction_update'  transaction.id  %}">editar</a></td>
<td><a  href="{% url 'transaction_delete'  transaction.id  %}">deletar</a></td>
</tr>

{% endfor %}
</tbody>
</table>

<div class="btn btn-success">
    Saldo: R${{ balance }}
</div>
{% endblock %}