{% extends 'base.html' %}

{% block content %}
{% load static %}

<br>
<h1>{{ title }}</h1>
<br>
<form method="post">
{% csrf_token %}
    <div class="form-group">
        <label>Valor:</label>
        {{ form.value }}
    </div>
   
    <div class="form-group">
        <label>Descrição:</label>
        {{ form.description }}
    </div>

    <div class="form-group">
        <label>Categoria:</label>
        {{ form.category }}
    </div>

    <div class="form-group">
        <label>Data:</label>
        {{ form.date }}
    </div>

    <div class="text-center">
        <button class="btn btn-success"  type="submit" >Salvar</button>
    </div>
</form>

{% endblock %}
