{% extends 'base.html' %}

{% block content %}

<h1>Deletar transação</h1>
<form  method="post">
{% csrf_token %}
Tem certeza que deseja excluir a transação?
<br>
<div class="text-center">
    <button class="btn btn-success"  type="submit" >Deletar</button>
</div>
</form>

{% endblock %}
