{% extends 'base.html' %}

{% block content %}
<br>
<h1>Detalhes da transação</h1>
<br>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Valor: R$ {{object.value}}</h5>
        <p class="card-text">Descrição: {{object.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Categoria: {{object.category.name}}</li>  
    </ul>
</div>
{% endblock %}
