.main{
    position: relative;
    left:50px;
}

.my-table{
    min-width:900px;
}
.my-table thead{
    min-width:900px;
}

input, select, textarea{
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

textarea {
    height:150px !important;
}

.balance{
    width:200px;
    background:green;
    color:#fff;
}

.my_chart{
    max-width:400px !important;
    max-height: 400px !important;
}